SECRET_KEY=your-secret-key
SYSTEM_SHORT_NAME=APP
SYSTEM_LONG_NAME=APP System
SYSTEM_OWNER=Company
DB_NAME=db_name
DB_USER=postgres
DB_PASSWORD=db_password
EMAIL_HOST=smtp.domain.com
EMAIL_PORT=25
EMAIL_HOST_USER=email@domain.com
EMAIL_HOST_PASSWORD=password
DEFAULT_FROM_EMAIL=Email User <email@domain.com>